<?xml version="1.0" encoding="utf-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         version="2.4">
    <display-name>shop</display-name>
    <servlet>
        <servlet-name>Admin_LoginServlet</servlet-name>
        <servlet-class>servlet.Admin_LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_HomePageServlet</servlet-name>
        <servlet-class>servlet.Admin_HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateZt</servlet-name>
        <servlet-class>servlet.Admin_UpdateZt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserZxServlet</servlet-name>
        <servlet-class>servlet.UserZxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserInfo</servlet-name>
        <servlet-class>servlet.UpdateUserInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsServlet</servlet-name>
        <servlet-class>servlet.DetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarServlet</servlet-name>
        <servlet-class>servlet.AddCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddressServlet</servlet-name>
        <servlet-class>servlet.UserAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectAddressServlet</servlet-name>
        <servlet-class>servlet.SelectAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>servlet.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelOrderServlet</servlet-name>
        <servlet-class>servlet.DelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchServlet</servlet-name>
        <servlet-class>servlet.UserSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSmsServlet</servlet-name>
        <servlet-class>servlet.SendSmsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>servlet.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhoneLoginServlet</servlet-name>
        <servlet-class>servlet.PhoneLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderOperation</servlet-name>
        <servlet-class>servlet.OrderOperation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddFood</servlet-name>
        <servlet-class>servlet.Admin_AddFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddFoodType</servlet-name>
        <servlet-class>servlet.Admin_AddFoodType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddNews</servlet-name>
        <servlet-class>servlet.Admin_AddNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_AddUser</servlet-name>
        <servlet-class>servlet.Admin_AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteComment</servlet-name>
        <servlet-class>servlet.Admin_DeleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteFood</servlet-name>
        <servlet-class>servlet.Admin_DeleteFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteFoodType</servlet-name>
        <servlet-class>servlet.Admin_DeleteFoodType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteNews</servlet-name>
        <servlet-class>servlet.Admin_DeleteNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteOrder</servlet-name>
        <servlet-class>servlet.Admin_DeleteOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_DeleteUser</servlet-name>
        <servlet-class>servlet.Admin_DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_FoodDeliver</servlet-name>
        <servlet-class>servlet.Admin_FoodDeliver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_ReplyComment</servlet-name>
        <servlet-class>servlet.Admin_ReplyComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateFood</servlet-name>
        <servlet-class>servlet.Admin_UpdateFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateFoodType</servlet-name>
        <servlet-class>servlet.Admin_UpdateFoodType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateNews</servlet-name>
        <servlet-class>servlet.Admin_UpdateNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateUser</servlet-name>
        <servlet-class>servlet.Admin_UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_UpdateZt2</servlet-name>
        <servlet-class>servlet.Admin_UpdateZt2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Food_DeleteServlet</servlet-name>
        <servlet-class>servlet.Food_DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUploadFile</servlet-name>
        <servlet-class>servlet.SaveUploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comment</servlet-name>
        <servlet-class>servlet.Comment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin_LoginServlet</servlet-name>
        <url-pattern>/servlet/Admin_LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_HomePageServlet</servlet-name>
        <url-pattern>/servlet/Admin_HomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateZt</servlet-name>
        <url-pattern>/servlet/Admin_UpdateZt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/servlet/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserZxServlet</servlet-name>
        <url-pattern>/servlet/UserZxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserInfo</servlet-name>
        <url-pattern>/servlet/UpdateUserInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsServlet</servlet-name>
        <url-pattern>/servlet/DetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarServlet</servlet-name>
        <url-pattern>/servlet/AddCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddressServlet</servlet-name>
        <url-pattern>/servlet/UserAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectAddressServlet</servlet-name>
        <url-pattern>/servlet/SelectAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/servlet/AddOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelOrderServlet</servlet-name>
        <url-pattern>/servlet/DelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchServlet</servlet-name>
        <url-pattern>/servlet/UserSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSmsServlet</servlet-name>
        <url-pattern>/servlet/SendSmsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/servlet/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhoneLoginServlet</servlet-name>
        <url-pattern>/servlet/PhoneLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderOperation</servlet-name>
        <url-pattern>/servlet/OrderOperation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddFood</servlet-name>
        <url-pattern>/servlet/Admin_AddFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddFoodType</servlet-name>
        <url-pattern>/servlet/Admin_AddFoodType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddNews</servlet-name>
        <url-pattern>/servlet/Admin_AddNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_AddUser</servlet-name>
        <url-pattern>/servlet/Admin_AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteComment</servlet-name>
        <url-pattern>/servlet/Admin_DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteFood</servlet-name>
        <url-pattern>/servlet/Admin_DeleteFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteFoodType</servlet-name>
        <url-pattern>/servlet/Admin_DeleteFoodType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteNews</servlet-name>
        <url-pattern>/servlet/Admin_DeleteNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteOrder</servlet-name>
        <url-pattern>/servlet/Admin_DeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_DeleteUser</servlet-name>
        <url-pattern>/servlet/Admin_DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_FoodDeliver</servlet-name>
        <url-pattern>/servlet/Admin_FoodDeliver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_ReplyComment</servlet-name>
        <url-pattern>/servlet/Admin_ReplyComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateFood</servlet-name>
        <url-pattern>/servlet/Admin_UpdateFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateFoodType</servlet-name>
        <url-pattern>/servlet/Admin_UpdateFoodType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateNews</servlet-name>
        <url-pattern>/servlet/Admin_UpdateNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateUser</servlet-name>
        <url-pattern>/servlet/Admin_UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_UpdateZt2</servlet-name>
        <url-pattern>/servlet/Admin_UpdateZt2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Food_DeleteServlet</servlet-name>
        <url-pattern>/servlet/Food_DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUploadFile</servlet-name>
        <url-pattern>/servlet/SaveUploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comment</servlet-name>
        <url-pattern>/servlet/Comment</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--<servlet>
        <servlet-name>Log Servlet</servlet-name>
        <servlet-class>Log</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Log Servlet</servlet-name>
        <url-pattern>Log</url-pattern>
    </servlet-mapping>&ndash;&gt;-->
</web-app>